BeduTravels/node_modules/*
Ejemplo/Ecero/node_modules/*
Ejemplo/Ecero/dist/*
Ejemplo/ejemplo/node_modules/*
CirEstudio/proyect/node_modules/*
CirEstudio/proyect/dist/*
React/ejemplo/node_modules/*
Webpack/node_modules/*
Webpack/dist/*
