<!DOCTYPE html>
<html>
  <head>
    <title>Calculadora</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <div class="container">
      <input id='first-value'>
      <input id="Second-value">
      <p> = </p>
      <p id="Result"></p>
    </div>
    <div class="container">
      <button type="button" class="btn btn-primary" id="Sum">+</button>
      <button type="button" class="btn btn-primary" id="Res">-</button>
      <button type="button" class="btn btn-primary" id="Multy">x</button>
    </div>
    <script src="/javascripts/calculator.js"></script>
  </body>
</html>
